* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
.container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

.nav {
  float: right;
}

.nav-list {
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
  line-height: 70px;
  list-style: none;
  width: 120px;
  float: left;
}

a {
  text-decoration: none;
}
.nav-list a {
  color: #fafafa;
}

#mv {
  width: 100%;
  height: 650px;
  background-image: url(img2/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fafafa;
}

.mv-title {
  font-size: 64px;
  font-family: "Raleway", sans-serif;
  padding-top: 200px;
}
.mv-text {
  font-size: 20px;
  padding-top: 10px;
}
#portfolio {
  background-color: #eceff1;
}

.heading {
  font-size: 32px;
  padding-top: 90px;
  margin-bottom: 8px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.heading-text {
  font-size: 16px;
  padding-top: 30px;
  text-align: center;
}

.production-group {
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production {
  float: left;
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin: 10px 10px 0 0;
}

.production:nth-child(-n + 3) {
  margin-top: 0;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.bg-1 {
  background-image: url(img2/sketch.jpg);
}
.bg-2 {
  background-image: url(img2/websuku.png);
}
.bg-3 {
  background-image: url(img2/write.jpg);
}
.bg-4 {
  background-image: url(img2/webcamp.png);
}
.bg-5 {
  background-image: url(img2/talk.jpg);
}
.bg-6 {
  background-image: url(img2/webcamp-mother.png);
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#feature {
  background-size: cover;
  background-position: center;
}

.strength-group {
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
  display: flex;
}

.strength {
  float: left;
  width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}

.strength-title {
  padding: 10px 0;
  font-size: 20px;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

#profile {
  background-color: #eceff1;
}

.profile-group {
  padding: 30px 0 90px 0;
}

.left-contents {
  width: 50%;
  float: left;
}

.right-contents {
  width: 50%;
  float: right;
}

.my-face {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img2/my-icon.jpg);
}

.discription-title {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.discription-title:first-child {
  margin-top: 0;
}

.discription-text {
  font-size: 16px;
}

.contact-group {
  padding: 30px 0 90px 0;
  margin: 0 auto;
  width: 800px;
}

.left-contact-contents {
  width: 130px;
  margin: 0 auto;
}

.link-text {
  text-decoration: underline;
  color: #212121;
}

.right-contact-contents {
  width: 170px;
  margin: 0 auto;
}

.right-contact-contents .fa {
  font-size: 50px;
  /* margin-right: 20px; */
}

.right-contact-contents .fa:last-child {
  margin-right: 0;
}

footer {
  height: 60px;
  background-color: #ec715f;
}

.copyright {
  text-align: center;
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
}

/* 以下レスポンシブ対応 */
@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }
  .logo {
    float: none;
    height: 50px;
  }
  .container {
    width: 90%;
  }
  .menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #fafafa;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }
  .list-bar:first-child {
    margin-top: 10px;
  }
  .nav {
    float: none;
  }
  .nav-list {
    display: none;
    float: none;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid gray;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
